Repository jameswlane/devex: changes, and which lefthook commands are due for each by the changed paths.
All: yamlfmt, yamllint, biome, go-fmt, go-imports, go-lint, plugin-go-fmt, plugin-go-mod-tidy, plugin-package-json-check, biome-web, biome-docs

yamlfmt:
  run: yamlfmt {staged_files}
  stage_fixed: true

yamllint:
  run: yamllint {staged_files}

biome:
  run: pnpm exec biome check --write {staged_files}
  stage_fixed: true

go-fmt:
  run: gofmt -w {staged_files}
  stage_fixed: true

go-imports:
  run: goimports -w {staged_files}
  stage_fixed: true

go-lint:
  run: golangci-lint run --fix
  stage_fixed: true

plugin-go-fmt:
  run: "for file in {staged_files}; do\n  plugin_dir=$(dirname \"$file\")\n  case \"$plugin_dir\" in\n    *plugin-sdk*|*apps*) ;;\n    *)\n      echo \"Formatting Go files in $plugin_dir\"\n      (cd \"$plugin_dir\" && gofmt -w *.go 2>/dev/null && goimports -w *.go 2>/dev/null)\n      ;;\n  esac\ndone
  ...

plugin-go-mod-tidy:
  run: "for file in {staged_files}; do\n  plugin_dir=$(dirname \"$file\")\n  if [ -f \"$plugin_dir/go.mod\" ]; then\n    case \"$plugin_dir\" in\n      *apps*) ;;\n      *)\n        echo \"Updating dependencies for $plugin_dir\"\n        (cd \"$plugin_dir\" && go mod tidy)\n        ;;\n    esac\n  fi\
  ...

plugin-package-json-check:
  run: "for file in {staged_files}; do\n  case \"$file\" in\n    \"package.json\"|*\"apps/\"*) continue ;;\n  esac\n  echo \"Validating package.json: $file\"\n  if ! jq empty \"$file\" >/dev/null 2>&1; then\n    echo \"❌ Invalid JSON in $file\" && exit 1\n  fi\n  case \"$file\" in\n    *\"packages/\"*
  ...

biome-web:
  run: pnpm exec biome check --write {staged_files}
  stage_fixed: true

biome-docs:
  run: pnpm exec biome check --write {staged_files}
  stage_fixed: true

fix(release): correct regex pattern syntax for bash compatibility
  .github/workflows/release.yml
Due: yamlfmt, yamllint

fix(release): use simpler regex pattern without escaped characters
  .github/workflows/release.yml
Due: yamlfmt, yamllint

fix(release): replace problematic array regex with grep-based check
  .github/workflows/release.yml
Due: yamlfmt, yamllint

fix(release): simplify regex pattern to use separate matches for better bash compatibility
  .github/workflows/release.yml
Due: yamlfmt, yamllint

fix(release): escape parentheses in regex pattern for component extraction
  .github/workflows/release.yml
Due: yamlfmt, yamllint

fix(release): use grep -Fxq for exact string matching instead of regex anchors
  .github/workflows/release.yml
Due: yamlfmt, yamllint

fix(release): eliminate bash array syntax to resolve conditional expression errors
  .github/workflows/release.yml
Due: yamlfmt, yamllint

fix(release): use variables for GitHub Actions inputs to resolve syntax error
  .github/workflows/release.yml
Due: yamlfmt, yamllint

fix(release): replace direct GitHub Actions syntax with variables in conditionals
  .github/workflows/release.yml
Due: yamlfmt, yamllint

fix(release): replace regex with bash string operations for component extraction
  .github/workflows/release.yml
Due: yamlfmt, yamllint

fix(goreleaser): update configuration for v2 compatibility
  .goreleaser.yml
Due: yamlfmt, yamllint

feat(cli): improve version validation error message clarity
  apps/cli/internal/version/version.go
Due: go-fmt, go-imports, go-lint

fix(cli): add backup time format constant for improved consistency
  apps/cli/internal/version/version.go
Due: go-fmt, go-imports, go-lint

fix(cli): add validation timeout constant and fix GoReleaser v2 compatibility
  .goreleaser.yml
  apps/cli/internal/version/version.go
Due: yamlfmt, yamllint, go-fmt, go-imports, go-lint

fix(cli): remove default function from GoReleaser config and add retry constant
  .goreleaser.yml
  apps/cli/internal/version/version.go
Due: yamlfmt, yamllint, go-fmt, go-imports, go-lint

fix(cli): add default retry delay constant and fix GoReleaser template errors
  .goreleaser.yml
  apps/cli/internal/version/version.go
Due: yamlfmt, yamllint, go-fmt, go-imports, go-lint

fix(cli): add max backoff delay constant and fix GoReleaser build directory
  .goreleaser.yml
  apps/cli/internal/version/version.go
Due: yamlfmt, yamllint, go-fmt, go-imports, go-lint

fix(cli): add minimum retry delay constant for improved error handling
  .goreleaser.yml
  apps/cli/internal/version/version.go
Due: yamlfmt, yamllint, go-fmt, go-imports, go-lint

fix(cli): repair corrupted go.mod file that was preventing GoReleaser builds
  apps/cli/go.mod
Due: none

fix(release): correct GoReleaser v2 template variables for archive naming
  .goreleaser.yml
Due: yamlfmt, yamllint

refactor(release): simplify to official GoReleaser monorepo pattern
  .github/workflows/goreleaser.yml
  .github/workflows/release.yml
  .goreleaser.yml
  RELEASING.md
  apps/cli/.gitignore
  apps/cli/.goreleaser.yml
  lefthook.yml
  package.json
  packages/.goreleaser.template.yml
  packages/plugin-sdk/.goreleaser.yml
Due: yamlfmt, yamllint

fix(cli): add dir to goreleaser build config for proper path resolution
  apps/cli/.goreleaser.yml
Due: yamlfmt, yamllint

fix(cli): add dir to goreleaser build config for proper path resolution
  .gitignore
  apps/cli/.goreleaser.yml
Due: yamlfmt, yamllint

fix(sdk): add dir to before hooks for proper path resolution
  packages/plugin-sdk/.goreleaser.yml
Due: yamlfmt, yamllint

fix(desktop-gnome): update tag prefix and add dir for monorepo pattern
  packages/desktop-gnome/.goreleaser.yml
Due: yamlfmt, yamllint

fix(package-manager-appimage): update tag prefix and add dir for monorepo pattern
  packages/package-manager-appimage/.goreleaser.yml
Due: yamlfmt, yamllint

fix(workflow): remove redundant tsx install that breaks Prisma client
  .github/workflows/sync-registry-database.yml
Due: yamlfmt, yamllint

fix(workflow): sync scripts were hanging because prisma.()
  apps/registry/scripts/sync-database.ts
  apps/registry/scripts/sync-github-plugins.ts
Due: none

fix(registry): building and sync
  apps/registry/package.json
  package.json
  pnpm-lock.yaml
  turbo.json
Due: yamlfmt, yamllint

fix(package-manager-apt): update tag prefix and add dir for monorepo pattern
  packages/package-manager-apt/.goreleaser.yml
Due: yamlfmt, yamllint

fix(package-manager-curlpipe): update tag prefix and add dir for monorepo pattern
  packages/package-manager-curlpipe/.goreleaser.yml
Due: yamlfmt, yamllint

fix(package-manager-deb): update tag prefix and add dir for monorepo pattern
  packages/package-manager-deb/.goreleaser.yml
Due: yamlfmt, yamllint

fix(workflow): sync registry database only after successful goreleaser releases
  .github/workflows/sync-registry-database.yml
Due: yamlfmt, yamllint

fix(package-manager-docker): update tag prefix and add dir for monorepo pattern
  packages/package-manager-docker/.goreleaser.yml
Due: yamlfmt, yamllint

fix(package-manager-flatpak): update tag prefix and add dir for monorepo pattern
  packages/package-manager-flatpak/.goreleaser.yml
Due: yamlfmt, yamllint

fix(package-manager-mise): update tag prefix and add dir for monorepo pattern
  packages/package-manager-mise/.goreleaser.yml
Due: yamlfmt, yamllint

fix(package-manager-pip): update tag prefix and add dir for monorepo pattern
  packages/package-manager-pip/.goreleaser.yml
Due: yamlfmt, yamllint

"Update Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: yamlfmt, yamllint

"Update Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: yamlfmt, yamllint

Path conditions:
  yamlfmt: any of: *.{yml,yaml}
  yamllint: any of: *.{yml,yaml}
  biome: any of: *.{json}
  go-fmt: any of: *.go and ^apps/cli/
  go-imports: any of: *.go and ^apps/cli/
  go-lint: any of: *.go and ^apps/cli/
  plugin-go-fmt: any of: **/*.go and ^packages/
  plugin-go-mod-tidy: any of: {**/go.mod,**/main.go} and ^packages/
  plugin-package-json-check: any of: **/package.json and ^packages/
  biome-web: any of: *.{js,ts,jsx,tsx} and ^apps/web/
  biome-docs: any of: *.{js,ts,jsx,tsx} and ^apps/docs/
