Repository jameswlane/devex: changes, and which lefthook commands are due for each by the changed paths.
All: yamlfmt, yamllint, biome, go-fmt, go-imports, go-lint, plugin-go-fmt, plugin-go-mod-tidy, plugin-package-json-check, biome-web, biome-docs

Path conditions:
  yamlfmt: any of: *.{yml,yaml}
  yamllint: any of: *.{yml,yaml}
  biome: any of: *.{json}
  go-fmt: any of: *.go and ^apps/cli/
  go-imports: any of: *.go and ^apps/cli/
  go-lint: any of: *.go and ^apps/cli/
  plugin-go-fmt: any of: **/*.go and ^packages/
  plugin-go-mod-tidy: any of: {**/go.mod,**/main.go} and ^packages/
  plugin-package-json-check: any of: **/package.json and ^packages/
  biome-web: any of: *.{js,ts,jsx,tsx} and ^apps/web/
  biome-docs: any of: *.{js,ts,jsx,tsx} and ^apps/docs/

fix(package-manager-snap): update tag prefix and add dir for monorepo pattern
  packages/package-manager-snap/.goreleaser.yml
Due: yamlfmt, yamllint

fix(system-setup): update tag prefix and add dir for monorepo pattern
  packages/system-setup/.goreleaser.yml
Due: yamlfmt, yamllint

fix(tool-git): update tag prefix and add dir for monorepo pattern
  packages/tool-git/.goreleaser.yml
Due: yamlfmt, yamllint

fix(tool-shell): update tag prefix and add dir for monorepo pattern
  packages/tool-shell/.goreleaser.yml
Due: yamlfmt, yamllint

fix(package-manager-brew): update tag prefix and add dir for monorepo pattern
  packages/package-manager-brew/.goreleaser.yml
Due: yamlfmt, yamllint

fix(desktop-budgie): update tag prefix and add dir for monorepo pattern
  packages/desktop-budgie/.goreleaser.yml
Due: yamlfmt, yamllint

fix(desktop-cinnamon): update tag prefix and add dir for monorepo pattern
  packages/desktop-cinnamon/.goreleaser.yml
Due: yamlfmt, yamllint

fix(desktop-cosmic): update tag prefix and add dir for monorepo pattern
  packages/desktop-cosmic/.goreleaser.yml
Due: yamlfmt, yamllint

fix(desktop-kde): update tag prefix and add dir for monorepo pattern
  packages/desktop-kde/.goreleaser.yml
Due: yamlfmt, yamllint

fix(desktop-lxqt): update tag prefix and add dir for monorepo pattern
  packages/desktop-lxqt/.goreleaser.yml
Due: yamlfmt, yamllint

fix(desktop-mate): update tag prefix and add dir for monorepo pattern
  packages/desktop-mate/.goreleaser.yml
Due: yamlfmt, yamllint

fix(desktop-pantheon): update tag prefix and add dir for monorepo pattern
  packages/desktop-pantheon/.goreleaser.yml
Due: yamlfmt, yamllint

fix(desktop-xfce): update tag prefix and add dir for monorepo pattern
  packages/desktop-xfce/.goreleaser.yml
Due: yamlfmt, yamllint

fix(package-manager-apk): update tag prefix and add dir for monorepo pattern
  packages/package-manager-apk/.goreleaser.yml
Due: yamlfmt, yamllint

fix(package-manager-dnf): update tag prefix and add dir for monorepo pattern
  packages/package-manager-dnf/.goreleaser.yml
Due: yamlfmt, yamllint

fix(package-manager-emerge): update tag prefix and add dir for monorepo pattern
  packages/package-manager-emerge/.goreleaser.yml
Due: yamlfmt, yamllint

fix(package-manager-eopkg): update tag prefix and add dir for monorepo pattern
  packages/package-manager-eopkg/.goreleaser.yml
Due: yamlfmt, yamllint

fix(package-manager-nixflake): update tag prefix and add dir for monorepo pattern
  packages/package-manager-nixflake/.goreleaser.yml
Due: yamlfmt, yamllint

fix(package-manager-nixpkgs): update tag prefix and add dir for monorepo pattern
  packages/package-manager-nixpkgs/.goreleaser.yml
Due: yamlfmt, yamllint

fix(package-manager-pacman): update tag prefix and add dir for monorepo pattern
  packages/package-manager-pacman/.goreleaser.yml
Due: yamlfmt, yamllint

fix(package-manager-rpm): update tag prefix and add dir for monorepo pattern
  packages/package-manager-rpm/.goreleaser.yml
Due: yamlfmt, yamllint

fix(package-manager-xbps): update tag prefix and add dir for monorepo pattern
  packages/package-manager-xbps/.goreleaser.yml
Due: yamlfmt, yamllint

fix(package-manager-yay): update tag prefix and add dir for monorepo pattern
  packages/package-manager-yay/.goreleaser.yml
Due: yamlfmt, yamllint

fix(package-manager-zypper): update tag prefix and add dir for monorepo pattern
  packages/package-manager-zypper/.goreleaser.yml
Due: yamlfmt, yamllint

fix(tool-stackdetector): update tag prefix and add dir for monorepo pattern
  packages/tool-stackdetector/.goreleaser.yml
Due: yamlfmt, yamllint

fix(workflow): should kickoff after goreleaser workflow
  .github/workflows/sync-registry-database.yml
Due: yamlfmt, yamllint

fix(registry): fixed db sync
  apps/cli/config/applications/optional/proton-vpn.yaml
  apps/registry/scripts/sync-database.ts
Due: yamlfmt, yamllint

fix(registry): add request-level timeouts to prevent API hangs
  apps/registry/app/api/health/route.ts
  apps/registry/app/api/v1/stats/route.ts
  apps/registry/lib/db-health.ts
  apps/registry/lib/prisma.ts
Due: none

fix(turbo): fixing warnings from env var
  turbo.json
Due: none

fix(web): correct registry API data path in metadata endpoint
  apps/web/app/api/tools/metadata/route.ts
Due: biome-web

fix(stats): optimized implementation that reduces database queries from 12 to 5
  apps/registry/__tests__/api/v1/stats/route.test.ts
  apps/registry/__tests__/integration/api-flow.test.ts
  apps/registry/app/api/v1/stats/route.ts
Due: none

fix(registry): standardize metadata.yaml structure and complete plugin coverage
  apps/registry/app/api/v1/applications/route.ts
  apps/registry/app/applications/page.tsx
  apps/registry/components/application-card.tsx
  apps/registry/components/plugin-card.tsx
  apps/registry/lib/transformation-service.ts
  apps/registry/lib/types/registry.ts
  apps/registry/scripts/sync-database.ts
  apps/web/app/api/tools/route.ts
  packages/desktop-budgie/metadata.yaml
  packages/desktop-cinnamon/metadata.yaml
  packages/desktop-cosmic/metadata.yaml
  packages/desktop-gnome/metadata.yaml
  packages/desktop-kde/metadata.yaml
  packages/desktop-lxqt/metadata.yaml
  packages/desktop-mate/metadata.yaml
  packages/desktop-pantheon/metadata.yaml
  packages/desktop-xfce/metadata.yaml
  packages/package-manager-apk/metadata.yaml
  packages/package-manager-appimage/metadata.yaml
  packages/package-manager-curlpipe/metadata.yaml
  packages/package-manager-deb/metadata.yaml
  packages/package-manager-docker/metadata.yaml
  packages/package-manager-emerge/metadata.yaml
  packages/package-manager-eopkg/metadata.yaml
  packages/package-manager-flatpak/metadata.yaml
  packages/package-manager-mise/metadata.yaml
  packages/package-manager-nixflake/metadata.yaml
  packages/package-manager-nixpkgs/metadata.yaml
  packages/package-manager-pacman/metadata.yaml
  packages/package-manager-pip/metadata.yaml
  packages/package-manager-rpm/metadata.yaml
  packages/package-manager-snap/metadata.yaml
  packages/package-manager-xbps/metadata.yaml
  packages/package-manager-yay/metadata.yaml
  packages/package-manager-zypper/metadata.yaml
  packages/system-setup/metadata.yaml
  packages/tool-git/metadata.yaml
  packages/tool-shell/metadata.yaml
  packages/tool-stackdetector/metadata.yaml
Due: yamlfmt, yamllint, biome-web

chore(clean): removed old outdated docs
  apps/cli/docs/SECURITY_PHILOSOPHY.md
  apps/registry/docs/API_RESPONSE_OPTIMIZATION.md
  apps/registry/docs/QUERY_OPTIMIZATION.md
  apps/registry/docs/database-optimization.md
  docs/DEPENDENCY_WORKFLOW.md
  docs/DOCUMENTATION_INDEX.md
  docs/INTEGRATION_TESTS.md
  docs/LOGGING.md
  docs/PACKAGE_MANAGERS.md
  docs/PLUGIN_DEVELOPMENT.md
  docs/TOOL_PLUGINS.md
  docs/TROUBLESHOOTING.md
  docs/USAGE.md
  docs/development/ENVIRONMENT_VARIABLE_SECURITY_IMPLEMENTATION.md
  docs/development/ERROR_MESSAGE_STANDARDS.md
  docs/development/GODOC_ANALYSIS.md
  docs/development/GO_VERSION_UPDATE.md
  docs/development/PLUGIN_SDK_USAGE_ANALYSIS.md
  docs/development/SECURITY_ASSUMPTIONS_DOCUMENTATION.md
  docs/release-workflow-improvements.md
Due: none

fix(registry): fixed caching, updated testing
  apps/registry/__tests__/api/v1/stats/route.test.ts
  apps/registry/__tests__/integration/api-flow.test.ts
  apps/registry/__tests__/lib/error-handler.test.ts
  apps/registry/__tests__/lib/query-cache.test.ts
  apps/registry/app/api/v1/revalidate/route.ts
  apps/registry/app/api/v1/stats/route.ts
  apps/registry/lib/cache-revalidation.ts
  apps/registry/lib/database.ts
  apps/registry/lib/prisma-client.ts
  apps/registry/lib/prisma.ts
  apps/registry/lib/query-cache.ts
  apps/registry/lib/types.ts
Due: none

chore(pnpm): updated lockfile
  pnpm-lock.yaml
Due: yamlfmt, yamllint

fix(get): updated install shells to properly download the cli
  apps/get/public/install
  apps/get/public/install.ps1
Due: none

fix(sdk): updated path to registry api
  packages/plugin-sdk/sdk.go
Due: plugin-go-fmt

fix(registry): fixing api response to better match cli expectations
  apps/registry/lib/registry-service.ts
  apps/registry/lib/transformation-service.ts
  apps/registry/lib/types/registry.ts
  apps/registry/scripts/sync-github-plugins.ts
Due: none

fix(registry): updated sync script to match new metadata
  apps/registry/scripts/sync-github-plugins.ts
Due: none
