Repository jameswlane/devex: changes, and which lefthook commands are due for each by the changed paths.
All: yamlfmt, yamllint, biome, go-fmt, go-imports, go-lint, plugin-go-fmt, plugin-go-mod-tidy, plugin-package-json-check, biome-web, biome-docs

Path conditions:
  yamlfmt: any of: *.{yml,yaml}
  yamllint: any of: *.{yml,yaml}
  biome: any of: *.{json}
  go-fmt: any of: *.go and ^apps/cli/
  go-imports: any of: *.go and ^apps/cli/
  go-lint: any of: *.go and ^apps/cli/
  plugin-go-fmt: any of: **/*.go and ^packages/
  plugin-go-mod-tidy: any of: {**/go.mod,**/main.go} and ^packages/
  plugin-package-json-check: any of: **/package.json and ^packages/
  biome-web: any of: *.{js,ts,jsx,tsx} and ^apps/web/
  biome-docs: any of: *.{js,ts,jsx,tsx} and ^apps/docs/

cleaning up repo
  apps/cli/.github/workflows/docker-test.yml
Due: yamlfmt, yamllint

feat: add semantic-release configuration for automated versioning
  .github/workflows/semantic-release.yml
  .releaserc.json
  apps/cli/package.json
  package.json
  pnpm-workspace.yaml
Due: yamlfmt, yamllint

fix: add workspace root flag to pnpm add command in semantic-release workflow
  .github/workflows/semantic-release.yml
Due: yamlfmt, yamllint

fix: install task CLI tool in semantic-release workflow
  .github/workflows/semantic-release.yml
Due: yamlfmt, yamllint

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  55490955e80c0407f3bc647177ea39905aa9044a
Due: none

revert: remove semantic-release in favor of Auto + GoReleaser
  .github/workflows/semantic-release.yml
  .releaserc.json
  package.json
Due: yamlfmt, yamllint

"Update Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: yamlfmt, yamllint

"Update Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: yamlfmt, yamllint

refactor: consolidate CI/CD workflows and improve release automation
  .actrc
  .autorc
  .github/workflows/ci.yml
  .github/workflows/cli-ci.yml
  .github/workflows/goreleaser.yml
  .github/workflows/plugins-ci.yml
  .github/workflows/release-improved.yml
  .github/workflows/release.yml
  .github/workflows/sdk-ci.yml
  .goreleaser.yml
  package.json
  scripts/detect-plugin-changes.sh
  turbo.json
Due: yamlfmt, yamllint

chore(deps): update pnpm and refresh package.json dependencies
  .github/workflows/sync-registry-database.yml
  .mise.toml
  apps/docs/package.json
  apps/registry/package.json
  apps/web/package.json
  package.json
  pnpm-lock.yaml
Due: yamlfmt, yamllint

fix(ci): resolve release workflow not finding pnpm
  .github/workflows/release.yml
Due: yamlfmt, yamllint

refactor: consolidate database migrations and optimize workflows
  .github/workflows/sync-registry-database.yml
  apps/registry/prisma/migrations/002_add_indexes.sql
  apps/registry/prisma/migrations/003_add_health_checks.sql
  apps/registry/prisma/migrations/003_optimize_platform_schema/migration.sql
  apps/registry/prisma/migrations/004_add_composite_indexes/migration.sql
  apps/registry/prisma/migrations/20250916_add_platform_columns/migration.sql
  apps/registry/prisma/migrations/20250921020417_init/migration.sql
  apps/registry/prisma/migrations/migration_lock.toml
Due: yamlfmt, yamllint

fix: resolve Auto release detection failures in CI workflow
  .autorc
  .github/workflows/release.yml
  package.json
  pnpm-lock.yaml
Due: yamlfmt, yamllint

fix(cli): improve error message for version rollback when version not found
  apps/cli/internal/version/version.go
Due: go-fmt, go-imports, go-lint

fix: escape changelog output for GitHub Actions
  .github/workflows/release.yml
Due: yamlfmt, yamllint

fix(cli): add version validation for rollback command
  apps/cli/internal/version/version.go
Due: go-fmt, go-imports, go-lint

feat(ci): remove redundant web app builds from CI workflow
  .github/workflows/ci.yml
Due: yamlfmt, yamllint

fix(release): handle initial release bootstrap for Auto
  .github/workflows/release.yml
Due: yamlfmt, yamllint

fix: use auto version --apply to create git tags in release workflow
  .github/workflows/release.yml
Due: yamlfmt, yamllint

fix: remove invalid --apply flag from auto version command
  .github/workflows/release.yml
Due: yamlfmt, yamllint

fix: prevent double 'v' prefix in git tag creation
  .github/workflows/release.yml
Due: yamlfmt, yamllint

fix: prevent duplicate releases and use Auto consistently
  .github/workflows/release.yml
Due: yamlfmt, yamllint

fix: update GoReleaser configuration for v2 syntax
  .goreleaser.yml
Due: yamlfmt, yamllint

fix: correct YAML syntax in GoReleaser hooks
  .goreleaser.yml
Due: yamlfmt, yamllint

fix: make GoReleaser conditional on Auto creating new releases
  .github/workflows/release.yml
  apps/cli/internal/version/version.go
Due: yamlfmt, yamllint, go-fmt, go-imports, go-lint

feat(cli): add version format validation with improved error messages
  apps/cli/internal/version/version.go
Due: go-fmt, go-imports, go-lint

feat: implement multi-component versioning strategy
  .goreleaser.yml
  apps/cli/go.mod
  apps/cli/go.sum
  packages/package-manager-apt/go.mod
  packages/package-manager-apt/go.sum
Due: yamlfmt, yamllint, plugin-go-mod-tidy

feat(plugin-sdk): add local replace directive for apt plugin development
  packages/package-manager-apt/go.mod
  packages/package-manager-apt/go.sum
Due: plugin-go-mod-tidy

feat!: implement multi-component versioning system for CLI, SDK, and plugins
  packages/plugin-sdk/sdk.go
Due: plugin-go-fmt

feat: add v0.1.0 release notes and establish proper versioning baseline
  RELEASE_NOTES.md
Due: none

feat: add dedicated workflow for building release assets
  .github/workflows/build-release-assets.yml
Due: yamlfmt, yamllint

fix: update GoReleaser v2 syntax for nfpms and publishers
  .goreleaser.yml
Due: yamlfmt, yamllint

feat(plugin-sdk): improve error handling documentation
  packages/plugin-sdk/sdk.go
Due: plugin-go-fmt

fix(goreleaser): simplify hook commands to resolve shell execution errors
  .goreleaser.yml
Due: yamlfmt, yamllint

fix(cli): improve version format validation with better error messages
  apps/cli/internal/version/version.go
Due: go-fmt, go-imports, go-lint

fix(release): correct bash syntax error in breaking change detection
  .github/workflows/release.yml
Due: yamlfmt, yamllint

fix(release): improve regex pattern for conventional commit parsing
  .github/workflows/release.yml
Due: yamlfmt, yamllint
