Repository jameswlane/devex: changes, and which lefthook commands are due for each by the changed paths.
All: yamlfmt, yamllint, biome, go-fmt, go-imports, go-lint, plugin-go-fmt, plugin-go-mod-tidy, plugin-package-json-check, biome-web, biome-docs

Path conditions:
  yamlfmt: any of: *.{yml,yaml}
  yamllint: any of: *.{yml,yaml}
  biome: any of: *.{json}
  go-fmt: any of: *.go and ^apps/cli/
  go-imports: any of: *.go and ^apps/cli/
  go-lint: any of: *.go and ^apps/cli/
  plugin-go-fmt: any of: **/*.go and ^packages/
  plugin-go-mod-tidy: any of: {**/go.mod,**/main.go} and ^packages/
  plugin-package-json-check: any of: **/package.json and ^packages/
  biome-web: any of: *.{js,ts,jsx,tsx} and ^apps/web/
  biome-docs: any of: *.{js,ts,jsx,tsx} and ^apps/docs/

fix(registry): fixed issue with system-setup plugins
  apps/registry/scripts/sync-github-plugins.ts
Due: none

fix(registry): simplified sync
  apps/registry/scripts/sync-github-plugins.ts
Due: none

chore(cli): update plugin sdk
  apps/cli/go.mod
  apps/cli/go.sum
Due: none

fix(registry): more fixes on api and sync for downloads
  apps/registry/app/api/v1/registry-stream/route.ts
  apps/registry/app/api/v1/registry.json/route.test.ts
  apps/registry/app/api/v1/registry.json/route.ts
  apps/registry/lib/transformation-service.ts
  apps/registry/scripts/sync-github-plugins.ts
Due: none

fix(registry): correct binary filename parsing in sync script
  apps/registry/scripts/seed-test-data.ts
  apps/registry/scripts/sync-github-plugins.ts
Due: none

fix(plugin-sdk): fixing the download logic to better handle api changes
  packages/plugin-sdk/package.json
  packages/plugin-sdk/sdk.go
Due: plugin-go-fmt, plugin-package-json-check

feat(cli): add SDK logger adapter for file-based logging
  apps/cli/internal/bootstrap/logger_adapter.go
  apps/cli/internal/bootstrap/plugins.go
  apps/cli/internal/commands/setup.go
  apps/cli/internal/commands/setup/helpers.go
  apps/cli/internal/commands/setup/plugins.go
Due: go-fmt, go-imports, go-lint

fix(registry): support plugin lookup by name in API
  apps/registry/app/api/v1/plugins/[id]/download/[platform]/route.ts
  apps/registry/app/api/v1/plugins/[id]/route.ts
Due: none

fix(registry): support application lookup by name in API
  apps/registry/app/api/v1/applications/[id]/route.ts
Due: none

refactor(cli): reorganize setup command into subdirectory
  apps/cli/internal/commands/setup/apps.go
  apps/cli/internal/commands/setup/automation.go
  apps/cli/internal/commands/setup/constants.go
  apps/cli/internal/commands/setup/docker_apps.go
  apps/cli/internal/commands/setup/docker_validation.go
  apps/cli/internal/commands/setup/input_handlers.go
  apps/cli/internal/commands/setup/install.go
  apps/cli/internal/commands/setup/messages.go
  apps/cli/internal/commands/setup/model.go
  apps/cli/internal/commands/setup/platform_config.go
  apps/cli/internal/commands/setup/plugin_validator.go
  apps/cli/internal/commands/setup/setup_desktop_environment_test.go
  apps/cli/internal/commands/setup/setup_dynamic_themes_test.go
  apps/cli/internal/commands/setup/setup_exit_timing_test.go
  apps/cli/internal/commands/setup/setup_git_config_test.go
  apps/cli/internal/commands/setup/setup_installation_flow_test.go
  apps/cli/internal/commands/setup/setup_plugin_installation_test.go
  apps/cli/internal/commands/setup/setup_theme_flow_test.go
  apps/cli/internal/commands/setup/setup_theme_test.go
  apps/cli/internal/commands/setup/steps.go
  apps/cli/internal/commands/setup/update.go
  apps/cli/internal/commands/setup/validation.go
  apps/cli/internal/commands/setup/view.go
  apps/cli/internal/commands/validation_test.go
Due: go-fmt, go-imports, go-lint

refactor(cli): remove deprecated plugin system and old setup files
  apps/cli/internal/bootstrap/simple_plugins.go
  apps/cli/internal/commands/docker_apps.go
  apps/cli/internal/commands/setup_desktop_environment_test.go
  apps/cli/internal/commands/setup_dynamic_themes_test.go
  apps/cli/internal/commands/setup_exit_timing_test.go
  apps/cli/internal/commands/setup_git_config_test.go
  apps/cli/internal/commands/setup_installation_flow_test.go
  apps/cli/internal/commands/setup_plugin_installation_test.go
  apps/cli/internal/commands/setup_theme_flow_test.go
  apps/cli/internal/commands/setup_theme_test.go
  apps/cli/internal/commands/theme_manager.go
  apps/cli/internal/plugin/downloader.go
  apps/cli/internal/plugin/github_registry.go
  apps/cli/internal/plugin/interface.go
  apps/cli/internal/plugin/manager.go
  apps/cli/internal/plugin/manager_suite_test.go
  apps/cli/internal/plugin/manager_test.go
  apps/cli/internal/plugin/registry.go
  apps/cli/internal/plugin/registry_security_test.go
  apps/cli/internal/plugin/selector.go
Due: go-fmt, go-imports, go-lint

refactor(cli): update platform detection and type definitions
  apps/cli/internal/platform/detector_test.go
  apps/cli/internal/platform/platform_test.go
  apps/cli/internal/templates/template.go
  apps/cli/internal/types/types.go
Due: go-fmt, go-imports, go-lint

chore(cli): update Go dependencies
  apps/cli/go.mod
  apps/cli/go.sum
Due: none

chore(cli): update configuration templates and package metadata
  apps/cli/assets/templates/minimal.yaml
  apps/cli/assets/templates/web-development.yaml
  apps/cli/package.json
Due: yamlfmt, yamllint

feat(plugin-sdk): enhance logging and download functionality
  packages/plugin-sdk/sdk.go
Due: plugin-go-fmt

chore(packages): update package metadata across all plugins
  packages/desktop-budgie/package.json
  packages/desktop-cinnamon/package.json
  packages/desktop-cosmic/package.json
  packages/desktop-gnome/package.json
  packages/desktop-kde/package.json
  packages/desktop-lxqt/package.json
  packages/desktop-mate/package.json
  packages/desktop-pantheon/package.json
  packages/desktop-xfce/package.json
  packages/package-manager-apk/package.json
  packages/package-manager-appimage/package.json
  packages/package-manager-curlpipe/package.json
  packages/package-manager-docker/package.json
  packages/package-manager-emerge/package.json
  packages/package-manager-eopkg/package.json
  packages/package-manager-flatpak/package.json
  packages/package-manager-mise/package.json
  packages/package-manager-nixflake/package.json
  packages/package-manager-nixpkgs/package.json
  packages/package-manager-pacman/package.json
  packages/package-manager-pip/package.json
  packages/package-manager-rpm/package.json
  packages/package-manager-snap/package.json
  packages/package-manager-xbps/package.json
  packages/package-manager-yay/package.json
  packages/package-manager-zypper/package.json
  packages/system-setup/package.json
  packages/tool-git/package.json
  packages/tool-shell/package.json
  packages/tool-stackdetector/package.json
Due: plugin-package-json-check

fix(registry): fixing awaits from ids
  apps/registry/app/api/v1/applications/[id]/route.ts
  apps/registry/app/api/v1/plugins/[id]/route.ts
Due: none

fix(registry): added logging for debugging
  apps/registry/__tests__/lib/error-handler.test.ts
  apps/registry/app/api/v1/plugins/[id]/route.ts
  apps/registry/lib/error-handler.ts
Due: none

fix(registry): fixed issue when seraching by plugin name
  apps/registry/app/api/v1/plugins/[id]/route.ts
  apps/registry/app/api/v1/plugins/query/route.ts
  apps/registry/prisma/migrations/20251013003648_add_plugin_short_name/migration.sql
  apps/registry/prisma/schema.prisma
  apps/registry/scripts/sync-github-plugins.ts
Due: none

fix(registry): fixing content encoding issues on api
  apps/registry/lib/response-optimization.ts
Due: none

fix(cli): fixing issues with downloading plugins
  apps/cli/go.mod
  apps/cli/go.sum
  apps/cli/internal/bootstrap/plugins.go
  apps/cli/internal/commands/backup_manager.go
  apps/cli/internal/commands/conflict_detector.go
  apps/cli/internal/commands/dependency_manager.go
  apps/cli/internal/commands/rollback.go
  apps/cli/internal/commands/setup/setup_exit_timing_test.go
  apps/cli/internal/commands/status.go
  apps/cli/internal/commands/uninstall.go
  apps/cli/internal/commands/uninstall_test.go
  apps/cli/internal/httpclient/client.go
  apps/cli/internal/httpclient/client_test.go
  apps/cli/internal/installers/installers_test.go
  apps/cli/internal/installers/plugin_installers.go
Due: go-fmt, go-imports, go-lint

fix(plugin-sdk): fixing issues with plugin downloads
  packages/plugin-sdk/interfaces.go
  packages/plugin-sdk/registry.go
  packages/plugin-sdk/sdk.go
  packages/plugin-sdk/updater.go
Due: plugin-go-fmt

fix(registry): fixing issues with downloading plugins
  apps/registry/app/api/v1/plugins/[id]/download/[platform]/route.ts
Due: none

fix(turbo): add plugin-sdk to cache inputs to invalidate stale caches
  turbo.json
Due: none

fix(lint): add --allow-parallel-runners flag to all golangci-lint commands
  apps/cli/package.json
  packages/desktop-budgie/package.json
  packages/desktop-cinnamon/package.json
  packages/desktop-cosmic/package.json
  packages/desktop-gnome/package.json
  packages/desktop-kde/package.json
  packages/desktop-lxqt/package.json
  packages/desktop-mate/package.json
  packages/desktop-pantheon/package.json
  packages/desktop-xfce/package.json
  packages/package-manager-apk/package.json
  packages/package-manager-appimage/package.json
  packages/package-manager-apt/package.json
  packages/package-manager-brew/package.json
  packages/package-manager-curlpipe/package.json
  packages/package-manager-deb/package.json
  packages/package-manager-dnf/package.json
  packages/package-manager-docker/package.json
  packages/package-manager-emerge/package.json
  packages/package-manager-eopkg/package.json
  packages/package-manager-flatpak/package.json
  packages/package-manager-mise/package.json
  packages/package-manager-nixflake/package.json
  packages/package-manager-nixpkgs/package.json
  packages/package-manager-pacman/package.json
  packages/package-manager-pip/package.json
  packages/package-manager-rpm/package.json
  packages/package-manager-snap/package.json
  packages/package-manager-xbps/package.json
  packages/package-manager-yay/package.json
  packages/package-manager-zypper/package.json
  packages/plugin-sdk/package.json
  packages/system-setup/package.json
  packages/tool-git/package.json
  packages/tool-shell/package.json
  packages/tool-stackdetector/package.json
Due: plugin-package-json-check

fix(bootstrap): fix SDK logger adapter format string handling
  apps/cli/internal/bootstrap/logger_adapter.go
Due: go-fmt, go-imports, go-lint

feat(setup): add dynamic configuration-driven setup workflow
  apps/cli/config/examples/README.md
  apps/cli/config/examples/full-stack-setup.yaml
  apps/cli/config/examples/minimal-setup.yaml
  apps/cli/config/setup.yaml
  apps/cli/go.mod
  apps/cli/go.sum
  apps/cli/internal/commands/setup.go
  apps/cli/internal/commands/setup/actions.go
  apps/cli/internal/commands/setup/condition_evaluator.go
  apps/cli/internal/commands/setup/condition_evaluator_test.go
  apps/cli/internal/commands/setup/dynamic_model.go
  apps/cli/internal/commands/setup/executor.go
  apps/cli/internal/commands/setup/executor_test.go
  apps/cli/internal/commands/setup/install.go
  apps/cli/internal/commands/setup/options_loader.go
  apps/cli/internal/commands/setup/options_loader_test.go
  apps/cli/internal/commands/setup/plugin_validator.go
  apps/cli/internal/commands/setup/setup_suite_test.go
  apps/cli/internal/config/setup_loader.go
  apps/cli/internal/types/setup_config.go
  package.json
  packages/plugin-sdk/setup_protocol.go
  packages/tool-git/git_setup.go
  packages/tool-git/git_tool.go
  packages/tool-git/main.go
  packages/tool-shell/shell_setup.go
  pnpm-lock.yaml
Due: yamlfmt, yamllint, go-fmt, go-imports, go-lint, plugin-go-fmt, plugin-go-mod-tidy

fix(security): upgrade Go to 1.24.9 to address CVEs
  .mise.toml
  apps/cli/go.mod
  apps/cli/go.sum
Due: none
